div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    p.lead Nav Monitor

.container
  .row
    .col-lg-12.main
      .col-md-3.col-lg-3.col-sm-12
        .row
          .btn-group
            label.btn.btn-primary(ng-model="market",btn-radio="'cn'",ng-click="changeMarket('cn')") CN
            label.btn.btn-primary(ng-model="market",btn-radio="'tw'",ng-click="changeMarket('tw')") TW
            label.btn.btn-primary(ng-model="market",btn-radio="'jp'",ng-click="changeMarket('jp')") JP

      .col-md-12.col-lg-12.col-sm-12
        highchart(id="chart1",config="NavChartConfig")


footer.footer
  .container
    p
      | Work Hard | Play Hard | This is Life

